@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        Название сайта
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header"></div>
                <button class="navbar-toggle" data-toggle="collapse" data-target="#responsive_menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="responsive_menu">
                    <ul class="nav navbar-nav ">
                        <li><a href="#"></a>Пункт 1</li>
                        <li><a href="#"></a>Пункт 2</li>
                        <li><a href="#"></a>Пункт 3</li>
                        <li><a href="#"></a>Пункт 4</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>